@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&family=Quicksand:wght@300;400;500;600&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

body {
    background-color: #fbf9ef;
    color: #392d34;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;

}

/* Navigation bar and footer */

nav, footer {
    background-color: rgba(127, 176, 105, 1)
}

nav a {
    text-decoration: none;
    color: #fbf9ef;
}

.container-search {
    position: absolute;
    left: 50%;
    top: 10px;
}
.navbar-search {
    position: relative;
    left: -50%;
}

.navbar-toggler {
    font-weight: lighter;
}

.fas.fa-heart {
    color:rgb(236, 45, 93)
}

.hide {
    display: none;
}

.navbar-toggler, .navbar-nav {
    z-index: 10;
}

input[type="text"]::placeholder {
    text-align: center;
}

#search-bar {
    font-size: 85%;
    width: 150px;
    margin-top: 5px;
    border-radius: 13px;
    background-color: #fbf9ef;
}

footer {
	height: 80px;
	text-align: center;
}

.footer-content-container {
    margin-top: 10px;
}

#footer-heading a {
    color: #fbf9ef;
    font-size: 120%;
}

/* Media queries */

@media screen and (max-width: 767px) {
    #brand {
        display: none;
    }
    a.nav-link {
        padding-top: 25px;
    }
}

@media screen and (min-width: 992px) {
    footer {
        height: 120px;
    }
    .footer-content-container {
        margin-top: 25px;
    }
    #footer-heading a {
        font-size: 140%;
    }
    #footer-heading {
        padding-bottom: 5px;
    }
    #search-bar {
        font-size: 90%;
        width: 200px;
        border-radius: 15px;
    }
}