{% extends 'base.html' %}
{% block content %}
<!-- Page container -->
<section class="landing-container error">
    <div class="center-content">
        <!-- Headings -->
        <div class="index-headings-container">
          <div class="row">
            <div class="col">
              <h1 class="index-h1">403 Error</h1>
              <h2>Tut tut...you can't be here ;)</h2>
              <a href="/" class="btn btn-primary btn-md cta-btn">Back Home</a>
            </div>
          </div>
        </div>
      </div>
</section>
{% endblock %}