<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FestiViews</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.1/css/all.css" type="text/css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md fixed-top">
      <!-- Logo/brand -->
      <div class="navbar-brand">
        <a class="nav-logo" href="{{ url_for('index') }}">FVs </a><a href="{{ url_for('index') }}" id="brand">FestiViews</a>
      </div>
      <!-- Search bar -->
      <div class="container-search">
        <form class="navbar-search">
          <input type="text" placeholder="Search FestiViews" id="search-bar">
        </form>
      </div>
      <!-- Toggler button for mobile -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span><i class="fas fa-bars" id="navbar-open-icon"></i><i class="fas fa-times hide" id="navbar-close-icon"></i></span>
      </button>
      <!-- Main navigation links -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="{{ url_for('browse') }}" class="nav-link">Browse all</a>
          </li>
          {% if session.user %}
            <li class="nav-item">
              <a href="{{ url_for('logout') }}" class="nav-link">Sign Out</a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('favourites', username=session['user']) }}" class="nav-link">Favourites <i class="fas fa-heart"></i></a>
            </li>
          {% else %}
            <li class="nav-item">
              <a href="{{ url_for('login') }}" class="nav-link">Sign In</a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a href="#" class="nav-link">FAQ</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <!-- flash messages -->
          {% for message in messages %}
          <section class="flash-messages">
            <div class="container flashes">
                <h4>{{ message }}</h4>
            </div>
          </section>
          {% endfor %}
        {% endif %}
      {% endwith %}
    {% block content %}
    {% endblock %}
  </main>
  
  <!-- Footer across all pages -->
  <footer class="">
    <div class="footer-content-container center-content">
    <div id="footer-heading">
      <a class="nav-logo" href="{{ url_for('index') }}">FVs </a><a href="{{ url_for('index') }}">FestiViews</a>
    </div>
    <div>
      <p>&copy; Francis Kershaw <span id="copyright"></span></p>
    </div>
  </div>
  </footer>
  <!-- Script for bootstrap JS features -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
  </script>
  <script src="static/js/script.js"></script>
  <script>
    $('#copyright').text(new Date().getFullYear());
</script>
</body>

</html>