{% extends "base.html" %}
{% block content %}

<section class="container-fluid favourites page-container text-start">
    <div class="row pb-2">
        <div class="col-2"></div>
        <div class="col-8">
            <h3 class="text-center">All Festivals</h3>
        </div>
        <div class="col-2 p-0">
            {% if session.user|lower == 'administrator' %}
            <a class="add-fest-btn" href="{{ url_for('add_festival') }}" role="button">Add</a>
            {% endif %}
        </div>
    </div>
    <div class="row pb-1">
        <div class="col-4 text-start">
            <h4 class="browse-heading">Name <button class="browse-icon"><i class="fas fa-sort"></i></button></h4>
        </div>
        <div class="col-4 text-center">
            <h4 class="browse-heading">Dates <button class="browse-icon"><i class="fas fa-sort"></i></button></h4>
        </div>
        <div class="col-4 text-center">
            <h4 class="browse-heading">Rating <button class="browse-icon"><i class="fas fa-sort"></i></button></h4>
        </div>
    </div>
    <section class="festivals-list mb-3">
    {% for festival in festivals %}
    <div class="row browse-row">
        <div class="col-4 browse-fest-name">
            <a class="add-fest-btn" href="{{ url_for('view_festival', url=festival.url) }}">{{ festival.name }}</a>
            <p class="d-none d-md-block fest-location">{{ festival.location }}</p>
        </div>
        <div class="col-4">
            <div class="row text-center browse-dates">
                <div class="col-12">
                    <span>{{ festival.start_date }}<span class="dash">-</span>{{ festival.end_date }}</span>
                </div>
            </div>
        </div>
        <div class="col-4 text-center stars">
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        </div>
       
    </div>
    {% endfor %}
    </section>  
    <div class="row text-center">
        <div class="col-12">
            <h5>
                Can't find your festival?
            </h5>
            <p><a href="#">Contact us</a> to request a new festival.</p>
        </div>
    </div>
</section>

{% endblock %}