{% extends 'base.html' %}
{% block content %}
<section class="container form-container edit_review">
  <h3>Edit your review</h3>
  <form method="POST" action="{{ url_for('edit_review', review_id=review._id) }}">
    <div class="row">
      <div class="col-12 col-md-6">
        <label for="year" class="form-label">Year attended&#42</label>
        <select class="form-control" name="year" id="year" required>
          <option class="year" value="2020">2020</option>
          <option class="year" value="2019">2019</option>
          <option class="year" value="2018">2018</option>
          <option class="year" value="2017">2017</option>
          <option class="year" value="2016">2016</option>
          <option class="year" value="2015">2015</option>
          <option class="year" value="2014">2014</option>
          <option class="year" value="2013">2013</option>
          <option class="year" value="2012">2012</option>
          <option class="year" value="2011">2011</option>
          <option class="year" value="2010">2010</option>
          <option class="year" value="pre-2010">pre-2010</option>
        </select>
      </div>
      <span class="year selected-option">{{ review.year }}</span>
      <div class="col-12 col-md-6">
        <label for="rating" class="form-label">Overall rating&#42</label>
        <select class="form-control" name="rating" id="rating" required>
          <option value="5">5 stars</option>
          <option value="4">4 stars</option>
          <option value="3">3 stars</option>
          <option value="2">2 stars</option>
          <option value="1">1 star</option>
        </select>
      </div>
      <span class="selected-option rating">{{ review.rating }}</span>
      <div class="col-12 col-md-6">
        <label for="location" class="form-label">Location&#42</label>
        <select class="form-control" name="location" id="location" required>
          <option value="5">5 stars</option>
          <option value="4">4 stars</option>
          <option value="3">3 stars</option>
          <option value="2">2 stars</option>
          <option value="1">1 star</option>
        </select>
      </div>
      <span class="selected-option">{{ review.lineup }}</span>
      <div class="col-12 col-md-6">
        <label for="nightlife" class="form-label">Nightlife&#42</label>
        <select class="form-control" name="nightlife" id="nightlife" required>
          <option value="5">5 stars</option>
          <option value="4">4 stars</option>
          <option value="3">3 stars</option>
          <option value="2">2 stars</option>
          <option value="1">1 star</option>
        </select>
      </div>
      <span class="selected-option">{{ review.nightlife }}</span>
      <div class="col-12 col-md-6">
        <label for="lineup" class="form-label">Lineup&#42</label>
        <select class="form-control" name="lineup" id="lineup" required>
          <option value="5">5 stars</option>
          <option value="4">4 stars</option>
          <option value="3">3 stars</option>
          <option value="2">2 stars</option>
          <option value="1">1 star</option>
        </select>
      </div>
      <span class="selected-option">{{ review.campsites }}</span>
      <div class="col-12 col-md-6">
        <label for="campsites" class="form-label">Campsites&#42</label>
        <select class="form-control" name="campsites" id="campsites" required>
          <option value="5">5 stars</option>
          <option value="4">4 stars</option>
          <option value="3">3 stars</option>
          <option value="2">2 stars</option>
          <option value="1">1 star</option>
        </select>
      </div>
      <span class="selected-option">{{ review.value }}</span>
      <div class="col-12 col-md-6">
        <label for="value" class="form-label">Value for money&#42</label>
        <select class="form-control" name="value" id="value" required>
          <option value="5">5 stars</option>
          <option value="4">4 stars</option>
          <option value="3">3 stars</option>
          <option value="2">2 stars</option>
          <option value="1">1 star</option>
        </select>
      </div>
      <span class="selected-option">{{ review.food }}</span>
      <div class="col-12 col-md-6">
        <label for="food" class="form-label">Food choice&#42</label>
        <select class="form-control" name="food" id="food" required>
          <option value="5">5 stars</option>
          <option value="4">4 stars</option>
          <option value="3">3 stars</option>
          <option value="2">2 stars</option>
          <option value="1">1 star</option>
        </select>
      </div>
      <span class="selected-option">{{ review.toilets }}</span>
      <div class="col-12 col-md-6">
        <label for="toilets" class="form-label">Toilets&#42</label>
        <select class="form-control" name="toilets" id="toilets" required>
          <option value="Surprisingly Good">Surprisingly Good</option>
          <option value="About what you'd expect really">About what you'd expect really</option>
          <option value="Nearly ruined my weekend">Nearly ruined my weekend</option>
        </select>
      </div>
      <span class="selected-option">{{ review.kid_friendly }}</span>
      <div class="col-12 col-md-6">
        <label for="kid_friendly" class="form-label">Kid friendly?&#42</label>
        <select class="form-control" name="kid_friendly" id="kid_friendly" required>
          <option value="No problem, bring them along!">No problem, bring them along!</option>
          <option value="During the day, yest - but things get weird after hours">During the day, yes - but things get weird after hours</option>
          <option value="Hell no, keep them as far from this one as possible">Hell no, keep them as far from this one as possible</option>
        </select>
      </div>
      <div class="col-12">
        <label for="review" class="form-label">Your review:</label>
        <input type="text" class="form-control" id="review" name="review" required value="{{ review.text }}">
      </div>
        <div class="col-12 col-md-6">
          <button type="submit" class="btn btn-primary btn-lg cta-btn" id="edit_review">Update</button>
        </div>
        <div class="col-12 col-md-6">
          <a href="{{ url_for('browse') }}" class="btn btn-primary btn-md cta-btn">Cancel changes</a>
        </div>
    </div>
  </form>
</section>

{% endblock %}