{% extends 'base.html' %}

{% block content %}
<!-- Container wrapping around all page content -->
<section class="container-fluid page-container landing-container">
  <div class="index-content-container">
    <!-- Headings -->
    <div class="index-headings-container">
      <div class="row">
        <div class="col">
          <h1>FestiViews</h1>
          <h2>A hub of information and opinions on the world's greatest past time</h2>
        </div>
      </div>
    </div>
    <!-- CTA buttons -->
    <div class="cta-button-container">
      <div class="row">
        <div class="col-12 col-md-6"><a href="{{ url_for('browse') }}" class="btn btn-primary btn-md cta-btn"
            role="button">Browse Festivals</a></div>
        <div class="col-12 col-md-6"><a href="{{ url_for('sign_up') }}" class="btn btn-primary btn-md cta-btn"
            role="button">Create Account</a></div>
      </div>
    </div>
  </div>
</section>
{% endblock %}