{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<!-- Page container -->
<section class="container-fluid landing-container index">
  <div class="index-content-container center-content">
    <!-- Headings -->
    <div class="index-headings-container">
      <div class="row">
        <div class="col">
          <h1 class="index-h1">FestiViews</h1>
          <h2>A hub of information and opinions on the world's greatest past time</h2>
        </div>
      </div>
    </div>
    <!-- CTA buttons -->
    <div class="cta-button-container">
      <div class="row">
        {% if session.user %}
        <div class="col-12"><a href="{{ url_for('browse') }}" class="btn btn-primary btn-md cta-btn">Browse
            Festivals</a></div>
        {% else %}
        <div class="col-12 col-md-6"><a href="{{ url_for('browse') }}" class="btn btn-primary btn-md cta-btn"
            role="button">Browse Festivals</a></div>
        <div class="col-12 col-md-6"><a id="create-account" href="{{ url_for('sign_up') }}"
            class="btn btn-primary btn-md cta-btn" role="button">Create Account</a></div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}