{% extends 'base.html' %}

{% block content %}
<!-- Page container -->
<section class="container-fluid text-center login">
  <div class="row sign-in-container">
    <div class="col">
      <!-- Sign in form -->
      <form class="login-form center-content" method="POST" action="{{ url_for('login') }}">
        <div class="col">
          <h3 class="login-heading">Sign in to FestiViews!</h3>
        </div>
        <!-- username -->
        <div class="col login-inputs text-start">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username" required pattern="^[a-zA-Z0-9]{4,15}$">
        </div>
        <!-- password -->
        <div class="col login-inputs text-start">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" required
            pattern="^[a-zA-Z0-9]{6,30}$">
        </div>
        <!-- submit form -->
        <div class="col login-btn-container">
          <button type="submit" class="btn submit-btn" id="login">Log in</button>
        </div>
        <div class="col signup-in-cta">
          <p class="no-margins">Not signed up yet?</p>
          <p>Register <em><a href="{{ url_for('sign_up') }}">here</a></em></p>
        </div>

      </form>
    </div>
  </div>
</section>
{% endblock %}