{% extends 'base.html' %}

{% block content %}
<!-- create new account form -->
<section class="container page-container login">
  <div class="row">
    <div class="col">
      <form method="POST" action="{{ url_for('login') }}">
        <h3>Sign in to FestiViews!</h3>
        <!-- username -->
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" required pattern="^[a-zA-Z0-9]{4,15}$">

        <!-- email - COMMENTED OUT FOR NOW -->
        <!-- <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" name="email" required> -->

        <!-- password -->
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required pattern="^[a-zA-Z0-9]{6,30}$">

        <!-- confirm password - COMMENTED OUT FOR NOW -->
        <!-- <label for="password_2" class="form-label">Confirm password</label>

        <input type="password" class="form-control" id="password_2" name="password_2" required> -->
        <!-- submit form -->
        <button type="submit" class="btn btn-primary btn-lg" id="login">Log in</button>
        <p>Not signed up yet?</p>
        <p>Register <a href="{{ url_for('sign_up') }}">here</a></p>
      </form>
    </div>
  </div>
</section>
{% endblock %}