{% extends "base.html" %}
{% block content %}

<section class="page-container">
    <h3>
        {{ festival.name }}
    </h3>
    <p>Location: {{ festival.location }}</p>
    <p>Start date: {{ festival.start_date }}</p>
    <p>End date: {{ festival.end_date }}</p>
    <br>
         <button class="btn btn-sm cta-btn">Edit</button> <br>
         <button class="btn btn-sm cta-btn">Delete</button> <br>
         <a href="{{ url_for('add_review', festival_id=festival._id) }}" class="btn btn-sm cta-btn" role="button">Add Review</a>
    <br>

    <h4>Reviews for {{ festival.name }}</h4>
    <ul>
    {% for review in reviews %}
        <li>
            <p>Written by: {{ review.created_by }}</p>
            <p>{{ review.text }}</p>
            <hr>
        </li>
    {% endfor %}
    </ul> 
</section>

{% endblock %}