{% extends "base.html" %}
{% block content %}

<div class="text-center view_festival">
    <!-- Hero image/festival name/tagline -->
    <section class="hub-hero-section">
        {% if session.user|lower == 'administrator' %}
        <!-- Admin only edit/delete button -->
        <section class="admin-only text-end">
            <a id="edit-fest" href="{{ url_for('edit_festival', url=festival.url) }}"><i class="far fa-edit"></i></a>
            <a id="delete-fest" href="{{ url_for('delete_festival', url=festival.url) }}"><i class="far fa-trash-alt"></i></a>
            <br>
        </section>
        {% endif %}
        <div class="hub-headings-container center-content">
            <div class="hub-headings-content">
                <h1 class="hub-h1">{{ festival.name }}</h1>
                <i class="fas fa-star hub-star"></i><i class="fas fa-star hub-star"></i><i
                    class="fas fa-star hub-star"></i><i class="fas fa-star hub-star"></i><i
                    class="fas fa-star hub-star"></i>
                <h2 class="hub-description"><em>{{ festival.description }}</em></h2>
            </div>
        </div>
    </section>
    <!-- Festival information section -->
    <section class="hub-info-container text-start container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-4 col-md-2 col-lg-1">
                    <h3 class="hub-info-heading">Location:</h3> 
                </div>
                <div class="col-8 col-md-4 col-lg-3">
                    <p class="hub-info">{{ festival.location }}</p>
                </div>
                <div class="col-4 col-md-2 col-lg-1">
                    <h3 class="hub-info-heading">Dates:</h3>
                </div>
                <div class="col-8 col-md-4 col-lg-3">
                    <p class="hub-info">{{ festival.start_date }} to {{ festival.end_date }}</p>
                </div>
                <div class="col-4 col-md-2 col-lg-1">
                    <h3 class="hub-info-heading">Website:</h3>
                </div>
                <div class="col-8 col-md-4 col-lg-3">
                    <a href="{{ festival.website }}" target="_blank" class="hub-info">Official Website <i class="fas fa-external-link-alt"></i></a>
                </div>
                <div class="col-4 col-md-2 col-lg-1">
                    <h3 class="hub-info-heading">Genre:</h3>
                </div>
                <div class="col-8 col-md-4 col-lg-3">
                    <p class="hub-info">{{ festival.genre }}</p>
                </div>
                <div class="col-4 col-md-2 col-lg-1">
                    <h3 class="hub-info-heading">Notable acts:</h3>
                </div>
                <div class="col-8 col-md-4 col-lg-3">
                    <p class="hub-info">{{ festival.notable_act_one }}, {{ festival.notable_act_two }}, {{ festival.notable_act_three }}.</p>
                </div>
                
                <div class="col-4 col-md-2 col-lg-1">
                    <h3 class="hub-info-heading">Cost:</h3>
                </div>
                <div class="col-8 col-md-4 col-lg-3">
                    <p class="hub-info">{{ festival.ticket_price }}</p>
                </div>
                <div class="col-4 col-md-2 col-lg-1">
                    <h3 class="hub-info-heading">Tickets:</h3>
                </div>
                <div class="col-8 col-md-4 col-lg-3">
                    <a href="{{ festival.ticket_link }}" target="_blank" class="hub-info">Link to tickets <i class="fas fa-external-link-alt"></i></a>
                </div>
                <div class="col-4 col-md-2 col-lg-1">
                    <h3 class="hub-info-heading">Capacity:</h3>
                </div>
                <div class="col-8 col-md-4 col-lg-3">
                    <p class="hub-info"> {{ festival.capacity }}</p>
                </div>
                <div class="col-lg-4 d-none d-lg-block"></div>
            </div>
        </div> 
    </section>
    <!-- Reviews section -->
    <section class="container-fluid text-start">
        <h2>Latest reviews</h2>
    </section>
    <p>Location: {{ festival.location }}</p>
    <p>Start date: {{ festival.start_date }}</p>
    <p>End date: {{ festival.end_date }}</p>
    <br>
    {% if session.user %}
    <a href="{{ url_for('add_review', url=festival.url) }}" class="btn btn-sm cta-btn" role="button">Add Review</a>
    {% endif %}
    <br>

    <h4>Reviews for {{ festival.name }}</h4>
    <ul>
        {% for review in reviews_arr %}
        <li>
            <ul>
                <li>Written by: {{ review.created_by }}</li>
                <li>{{ review.text }}</li>
                {% if session.user|lower == review.created_by|lower %}
                <li>
                    <a href="{{ url_for('edit_review', review_id=review._id) }}" class="btn btn-sm cta-btn"
                        role="button">Edit</a>
                    <a href="{{ url_for('delete_review', review_id=review._id) }}" class="btn btn-sm cta-btn">Delete</a>
                    <br>
                </li>
                {% endif %}
            </ul>
            <hr>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}